<a href="https://colab.research.google.com/github/yousrakhan23/Python-Strings-Assignment-1/blob/master/day01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello yousra")

hello yousra

In [ ]:
print("Quarter 3 beginning")

Quarter 3 beginning

VARIABLES:

In [ ]:
name = "yousra khan"
print(name)

yousra khan

In [ ]:
name = "Hassan Khan"
age = 24
hobbies = ["badminton","football"]
print(name)
print(age)
print(hobbies)

Hassan Khan
24
['badminton', 'football']

VARIABLES AND ITS DATA TYPES

In [ ]:
name: str = "Hassan Khan"
age: int = 24
hobbies: list[str] = ["badminton","football"]
name: str = "Hassan Khan"
age: int = 24
hobbies: list[str] = ["badminton","football"]
num: float = 23.26
tap: tuple = ("yousra" , "hassan")
obj:dict = {"name": "yousra khan" , "age":23}
print(name)
print(age)
print(hobbies)
print(num)
print(tap)
print(obj)
print(hobbies)
print(num)
print(tap)
print(obj)

Hassan Khan
24
['badminton', 'football']
23.26
('yousra', 'hassan')
{'name': 'yousra khan', 'age': 23}
['badminton', 'football']
23.26
('yousra', 'hassan')
{'name': 'yousra khan', 'age': 23}

HOW TO DEFINE ID?

In [ ]:
name: ("panda")
print(id(name))

138502815318256

STRING METHODS

In [ ]:
name1: str = "first pay first umrah INN SHA ALLAH"
print("original state" , name1) #original state
print("uppercase" , name1.upper()) #uppercase
print("lowercase" , name1.lower()) #lowecase
print("title" , name1.title()) #titlecase
print("capitalize" , name1.capitalize()) #capitalize

original state first pay first umrah INN SHA ALLAH
uppercase FIRST PAY FIRST UMRAH INN SHA ALLAH
lowercase first pay first umrah inn sha allah
title First Pay First Umrah Inn Sha Allah
capitalize First pay first umrah inn sha allah

CONCATENATION STRING

In [ ]:
first_name:str = "electric"
last_name:str = "blower"
full_name:str = f"{first_name} {last_name}" #like we use ` for concatenation so we use f"" for concatenation in python.
print(full_name)

electric blower

TAB SPACE AND NEW LINE

In [ ]:
print("salam how are you") #normal
print("salam \n How are you?") #new line
print("salam \t what are you doing?") #tab space

salam how are you
salam
 How are you?
salam 	 what are you doing?

SINGLE QUOTE

In [ ]:
a = 'Fullstack' + " " + 'Dictionary'
print(a)

Fullstack Dictionary

HOW TO TACKLE APOSTROPHE S ???

In [ ]:
#a ='my husband's name is shah' #but it gives error
a = 'my husband\'s name is shah'
print(a)

my husband's name is shah

NEXT LINE

In [ ]:
#a = 'hello how are you,
#I am fine' it gives error so we use \

a = 'hello how are you, \
I am fine'
print(a)

hello how are you, I am fine

DOUBLE QUOTES

In [ ]:
a = "yousra khan"
print(a)

yousra khan

In [ ]:
a = "yousra khan" + " " + "wife of" + " " + "shah"
print(a)

yousra khan wife of shah

WE USE APOSTROPHE S IN DOUBLE QUOTES

In [ ]:
a = "hello from canada which city you are belong's to?"
print(a)

hello from canada which city you are belong's to?

THREE DOUBLE QUOTES

In [ ]:
a = ''' salam from saudia
salam from qatar
salam from iraq'''
print(a)

 salam from saudia
salam from qatar
salam from iraq

f-string

In [ ]:
name = "cristiano"
edu = 12
hobby = "football"
biodata = f"my name is {name}, my age is {30+5}, my hobby is {hobby}"
print(biodata)

my name is cristiano, my age is 35, my hobby is football

f-string CONCATENATION

In [ ]:
f_name = "learn"
l_name = "python"
print(f"{f_name} {l_name}")

learn python

In [ ]:
words = "my name is {}, my passion is {}.".format("imran khan", "cricket")
print(words)

my name is imran khan, my passion is cricket.